<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card card-box">
      <div class="card-head">
        <header>Change Password</header>
      </div>

      <div class="card-body">
        <form
          [formGroup]="changePasswordForm"
          (ngSubmit)="changePassword()"
          class="user-form"
        >
          <!-- User ID -->
          <div *ngIf="isAdmin" class="form-group row">
            <label class="col-md-3 control-label" for="userId">User ID</label>
            <div class="col-md-6">
              <input
                type="text"
                id="userId"
                formControlName="userId"
                class="form-control"
                placeholder="Enter User ID"
                required
                [ngClass]="{
                  'is-invalid':
                    changePasswordForm.get('userId')?.invalid &&
                    (changePasswordForm.get('userId')?.touched || isSubmitted),
                }"
              />
              <div
                *ngIf="
                  changePasswordForm.get('userId')?.invalid &&
                  (changePasswordForm.get('userId')?.touched || isSubmitted)
                "
                class="text-danger"
              >
                User ID is required.
              </div>
            </div>
          </div>

          <!-- Old Password -->
          <div class="form-group row">
            <label class="col-md-3 control-label" for="oldPassword"
              >Old Password</label
            >
            <div class="col-md-6">
              <input
                type="password"
                id="oldPassword"
                formControlName="oldPassword"
                class="form-control"
                placeholder="Enter old password"
                required
                [ngClass]="{
                  'is-invalid':
                    changePasswordForm.get('oldPassword')?.invalid &&
                    (changePasswordForm.get('oldPassword')?.touched ||
                      isSubmitted),
                }"
              />
              <div
                *ngIf="
                  changePasswordForm.get('oldPassword')?.invalid &&
                  (changePasswordForm.get('oldPassword')?.touched ||
                    isSubmitted)
                "
                class="text-danger"
              >
                Old password is required.
              </div>
            </div>
          </div>

          <!-- New Password -->
          <div class="form-group row">
            <label class="col-md-3 control-label" for="newPassword"
              >New Password</label
            >
            <div class="col-md-6">
              <input
                type="password"
                id="newPassword"
                formControlName="newPassword"
                class="form-control"
                placeholder="Enter new password"
                required
                [ngClass]="{
                  'is-invalid':
                    changePasswordForm.get('newPassword')?.invalid &&
                    (changePasswordForm.get('newPassword')?.touched ||
                      isSubmitted),
                }"
              />
              <div
                *ngIf="
                  changePasswordForm.get('newPassword')?.invalid &&
                  (changePasswordForm.get('newPassword')?.touched ||
                    isSubmitted)
                "
                class="text-danger"
              >
                New password is required.
              </div>
            </div>
          </div>

          <!-- Confirm New Password -->
          <div class="form-group row">
            <label class="col-md-3 control-label" for="confirmNewPassword"
              >Confirm New Password</label
            >
            <div class="col-md-6">
              <input
                type="password"
                id="confirmNewPassword"
                formControlName="confirmNewPassword"
                class="form-control"
                placeholder="Confirm new password"
                required
                [ngClass]="{
                  'is-invalid':
                    changePasswordForm.get('confirmNewPassword')?.invalid &&
                    (changePasswordForm.get('confirmNewPassword')?.touched ||
                      isSubmitted),
                }"
              />
              <div
                *ngIf="
                  changePasswordForm.get('confirmNewPassword')?.invalid &&
                  (changePasswordForm.get('confirmNewPassword')?.touched ||
                    isSubmitted)
                "
                class="text-danger"
              >
                Confirmation password is required.
              </div>
            </div>
          </div>

          <!-- Submit Button -->
          <div class="d-flex justify-content-center">
            <button
              type="submit"
              class="btn btn-info"
              [disabled]="changePasswordForm.invalid"
            >
              Change Password
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
