.card-head{
  padding: 0px !important;
}

.active{
  background-color:transparent;
}

.no-margin{
  margin-top: 0px !important;
  margin-left: 0px !important;
  margin-bottom: 0px !important;
  margin-right: 0px !important;
}

.nav-link{
  color:#fff;
}
.text-right{
  color:#fff;
}
.container {
  text-align: center;
  padding: 10px;
  border: 1px solid #ddd; /* Subtle border */
  border-radius: 5px;
}

.notice {
  text-transform: uppercase;
  color: #d7d7d7; /* Blue text */
}
