<div class="row">
    <div class="col-md-10 offset-md-1">
      <div class="card card-box">
        <div class="card-head">
          <header>Club Income</header>
        </div>
        <div class="card-body">
          <div *ngIf="isAdmin">
            <div class="form-group row">
              <label class="col-md-3 control-label" for="filterInput">User ID:</label>
              <div class="col-md-6">
                <input id="filterInput" type="text" class="form-control" [(ngModel)]="filterUserId"
                  placeholder="Enter User ID" [ngClass]="{ 'is-invalid': isSubmitted && !filterUserId }" />
                <div *ngIf="isSubmitted && !filterUserId" class="text-danger">
                  User ID is required.
                </div>
              </div>
            </div>
          </div>
  
          <div class="form-group row mb-3">
            <label class="col-md-3 control-label"></label>
            <div *ngIf="isAdmin" class="col-md-6 d-flex justify-content-center mb-3">
              <button class="btn btn-info" (click)="GetClubincome()">View</button>
            </div>
  
            <div class="table-responsive mt-3">
              <table *ngIf="filteredclub.length > 0" class="table table-bordered table-striped panel">
                <thead>
                  <tr>
                    <th>S.N.</th>
                    <th>Club Level</th>
                    <th>Required Members</th>
                    <th>Actual Members</th>
                    <th>Total Income</th>
                    <th>Club Upgrade</th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let club of filteredclub; let i = index">
                    <td>{{ club.srno }}</td>
                    <td>{{ club.clubLevel }}</td>
                    <td>{{ club.requiredMembers }}</td>
                    <td>{{ club.actualMembers }}</td>
                    <td>{{ club.totalIncome }}</td>
                    <td>{{ club.isClubUpgrade }}</td>
                  </tr>
                </tbody>
              </table>
            
              <!-- No Data Found Message -->
              <div *ngIf="filteredclub.length === 0" class="text-center mt-3">
                <label>No data found yet!</label>
              </div>
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
  