<div class="tree-node-wrapper">
  <!-- Show Rec Lmid & Rmid User Details -->
  <div class="user-details" *ngIf="showUserDetails">
    <ng-container *ngFor="let side of ['recLmid', 'recRmid']">
      <h3>{{ side === 'recLmid' ? 'Rec Lmid Details' : 'Rec Rmid Details' }}</h3>
      <table width="100%" class="user-info-table">
        <thead>
          <tr>
            <th>User ID</th>
            <th>Sponsor</th>
            <th>Status</th>
            <th>Top Date</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let detail of (side === 'recLmid' ? recLmidDetails : recRmidDetails)">
            <td>{{ detail.userID }}</td>
            <td>{{ detail.userName }}</td>
            <td>{{ detail.status }}</td>
            <td>{{ detail.topDate }}</td>
          </tr>
          <tr *ngIf="(side === 'recLmid' ? recLmidDetails : recRmidDetails).length === 0">
            <td colspan="6" class="no-users">No {{ side === 'recLmid' ? 'Rec Lmid' : 'Rec Rmid' }} Users Available</td>
          </tr>
        </tbody>
      </table>
    </ng-container>
  </div>

  <!-- Display Node Info (Top of Tree) -->

<div class="node" (click)="toggleUserDetails()" title="Toggle User Details">
  <img src="assets/binary-tree/green.png" alt="Node Image" class="node-image" />
  
  <div class="node-info-wrapper">
    <div class="node-info">
      {{ formatUserId(node?.member?.userID) }}
    </div>
    <div class="full-details" *ngIf="node?.memIdDetails">
      {{ node.memIdDetails }}
    </div>
  </div>
</div>


  <!-- <div class="dual">
    <div class="node" *ngIf="recLmidDetails.length > 0" (click)="toggleUserDetails()" title="Toggle Rec Lmid Details">
      <img src="assets/binary-tree/green.png" alt="Node Image" class="node-image" />
      <div class="node-info">
        {{ recLmidDetails[0]?.userID.slice(0, 6) + '...' + recLmidDetails[0]?.userID.slice(-7) }}
      </div>
    </div>
    <div class="node" *ngIf="recRmidDetails.length > 0" (click)="toggleUserDetails()" title="Toggle Rec Rmid Details">
      <img src="assets/binary-tree/green.png" alt="Node Image" class="node-image" />
      <div class="node-info">
        {{ recRmidDetails[0]?.userID.slice(0, 6) + '...' + recRmidDetails[0]?.userID.slice(-7) }}
      </div>
    </div>
  </div> -->

  <!-- Render Children Recursively -->
  <table width="100%">
    <tr>

      <td class="child-wrapper">
        <ng-container *ngIf="node?.left">
          <app-tree-node [node]="node.left"></app-tree-node>
        </ng-container>
        <!-- <ng-template #addLeft>
          <div
            *ngIf="!recLmidDetails.length"
            class="add-new-user"
            (click)="onAddUser('left')"
            title="Add User to Left"
          >
            <img src="assets/binary-tree/newPerson.jpg" style="width: 50px" />
            <strong>Add User</strong>
          </div>
        </ng-template> -->
      </td>


      <td class="child-wrapper">
        <ng-container *ngIf="node?.right">
          <app-tree-node [node]="node.right"></app-tree-node>
        </ng-container>
        <!-- <ng-template #addRight>
          <div
            *ngIf="!recRmidDetails.length"
            class="add-new-user"
            (click)="onAddUser('right')"
            title="Add User to Right"
          >
            <img src="assets/binary-tree/newPerson.jpg" style="width: 50px" />
            <strong>Add User</strong>
          </div>
        </ng-template> -->
      </td>
    </tr>
  </table>
</div>