<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card card-box">
      <div class="card-head">
        <header>Deposit Details</header>
      </div>
      <div class="card-body">
        <div class="table-responsive mt-3">
          <div *ngIf="depositData.length > 0">
            <table class="table table-bordered table-striped panel">
              <thead>
                <tr>
                  <th>Sr. No</th>
                  <th>Date</th>
                  <th>User ID</th>
                  <th>Amount</th>
                  <th>Package</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let deposit of depositData">
                  <td>{{ deposit.srno }}</td>
                  <td>{{ deposit.date | date: 'dd-MM-yyyy HH:mm:ss' }}</td>
                  <td>{{ deposit.userId }}</td>
                  <td>{{ deposit.pool}}</td>
                  <td>{{ deposit.pakageID }}</td>
                </tr>
              </tbody>
            </table>
          </div>

          <div *ngIf="depositData.length === 0">
            <p>No data available.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
