.widget-section {
  
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.bg-gradient-danger {
  background: transparent !important;
  color: #fff  !important;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #007bff !important;
}

/* Apply background color when copied */
.referral-link.link-clicked {
  color: rgb(0, 110, 255) !important;
  cursor: pointer;
  color: white;
  text-decoration: underline;
}

.form-control {
  background-color: transparent !important;
}

/* Default style */
.referral-link {
  color: black;
  text-decoration: none;
}


.widget-card {
  border-radius: 10px;
  box-shadow: 6px 11px 41px -28px rgba(169, 157, 231, 0.5);
  width: calc(25% - 20px);
  /* 4 cards per row, adjust for spacing */
  width: 100%;
  transition: transform 0.3s, box-shadow 0.3s;
  background: #ffffff;
  /* Set solid background color */
}

.widget-card:hover {
  transform: translateY(-3px);
  box-shadow: 8px 14px 51px -24px rgba(169, 157, 231, 0.6);
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.infobox-icon {
  display: flex;
  /* justify-content: center;
    align-items: center; */
}

.infobox-icon img {
  width: 55px;
  margin: 10px 0;
}

h6.font-weight-normal a {
  color: #fff ;
  font-size: 18px;
  transition: color 0.3s;
}

h6.font-weight-normal a:hover {
  color: #d3cedf;
  /* Lighten color on hover */
}

.progress-description {
  font-size: 16px;
  /* padding-top: 7px;
  font-weight: 700; */
}

.marquee-left {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
}

.infobox-data h5 {
  color: #fff  !important;
  font-size: 15px;
  font-weight: 800  ;
}

.card-body {
  flex: 1 1 auto;
  padding-top: 0;
}

label {
  display: inline-block;
  margin-bottom: 3px;
}

.infobox-data h2 {
  font-size: 24px;
  color: #fff ;
}

.mat-raised-button {
  cursor: pointer;
  border: none;
  padding: 12px 24px;
  border-radius: 4px;
  transition: background 0.4s, box-shadow 0.3s;
}

.mat-raised-button:hover {
  background: rgba(16, 236, 218, 0.7);
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
}

/* Timer CSS */
.counter {
  width: 70px;
  height: 70px;
  background: #eb9a03;
  /* Change to neutral color */
  text-align: center;
  border-radius: 50%;
  padding-top: 20px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.2);
}

.counter p {
  font-size: 16px;
  font-weight: 500;
  color: #fff;
}

.button {
  position: absolute;
  top: 56%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.to20 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.box {
  animation: animName 2s linear infinite;
}

@keyframes animName {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.sarcal {
  width: 490px;
  margin: 30px auto;
  position: relative;
}

.box2 {
  animation: inherit;
}

@media (max-width: 767px) {
  .sarcal {
    width: 320px;
    margin: 30px auto;
  }

  .app-content {
    padding: 30px 0;
  }
}

.sarcal img {
  display: block;
  width: 100%;
}

.btn:not(:disabled):not(.disabled) {
  cursor: pointer;
  margin: 0 auto;
  border-radius: 0;
}

.btn-success {
  color: #fff;
  background-color: #98D8EF;
  /* Changed golden color to gray */
  border-radius: 20px !important;
  padding: 8px 14px !important;
  text-transform: uppercase;
  transition: background-color 0.3s;
}

.btn-success:hover {
  background-color: #3a3a3a;
  /* Darken color on hover */
}

#btnMint {
  background: transparent;
  border: none;
}

.table-border {
  border: 1px solid black;
}

@media (max-width: 768px) {
  #divDashboardContainer .widget-card {
    padding: 5px;
    /* Adjust as necessary */
  }

  #divDashboardContainer .infobox-icon img {
    width: 50px;
    /* Adjust image size as necessary */
  }
}

p {
  color: #fff  !important;
}

span {
  color: #fff  !important;
}

/* Card styles */
.card {
  border-radius: 8px;
  padding: 16px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}

/* Form controls inside cards */
.form-control {
  border: 1px solid #ccc;
  padding: 8px 12px;
  font-size: 12px;
  overflow: auto;
  white-space: nowrap;
}

/* Button styles */
.btn-custom-color {
  background: linear-gradient(to right, #64A6F8 20%, #00CDAA 70%);
  /* Custom button color */
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.btn-custom-color:hover {
  background-color: #0056b3;
}

/* Font and text styles */
.font-size-12 {
  font-size: 12px;
  color: #fff ;
}

label b {
  font-size: 14px;
  font-weight: bold;
}

/* Ensure layout adjusts properly on small screens */
@media (max-width: 768px) {
  .card {
    margin-bottom: 20px;
    /* Space between stacked cards on small screens */
  }
}

/* Spacing for form groups */
.form-group {
  margin-bottom: 20px;
}

/* Remove padding for better alignment */
.form-group1 {
  margin: 0;
  padding: 0;
}

/* Flex alignment for button row */
.form-group1.row {
  display: flex;
  justify-content: flex-end;
}

/* Remove margins for smaller views */
@media (max-width: 768px) {
  mat-sidenav-content.content {
    margin-left: 0 !important;
    /* Use !important if necessary */
  }

  .widget-card {
    width: 100% !important;
    /* Change to 1 card per row on smaller devices */
  }
}

.infobox {

  display: flex;
  /* Enable flexbox */
  align-items: center;
  /* Align items vertically in the center */
  padding: 8px;
  /* Optional: Add padding for spacing */
}

.infobox-icon {
  margin-right: 16px;
  /* Space between icon and text */
}

.infobox-icon img {
  max-width: 50px;
  /* Adjust icon size as necessary */
  height: auto;
  /* Maintain aspect ratio */
}

.infobox-data {
  flex-grow: 1;
  /* Allow text area to take remaining space */
}
.infobox-data1 {
  flex-grow: 1;
  /* Allow text area to take remaining space */
}


.col-md-6 {
  display: flex;
  justify-content: center;
}

.card {
  border-radius: 8px;
  /* Rounded corners */
  padding: 16px;
  /* Padding inside the card */
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

label {
  /* Font family for label */
  font-size: 16px;
  /* Font size for the label */
  font-weight: bold;
  /* Bold text for the label */
  color: #fff;
  /* Dark gray color for the label */
  margin-bottom: 10px;
  /* Spacing below the label */
  display: block;
  /* Ensures the label takes full width */
}

.referral-link {
  font-size: 16px;
  display: block;
  padding: 4px;
  background-color: #98D8EF;
  border: 1px solid #ced4da;
  border-radius: 4px;
  text-decoration: none;
  overflow: auto;
  margin-bottom: 10px;
  transition: background-color 0.3s;
}

.referral-link:hover {
  background-color: #DAA520;
  /* Darker background on hover */
}

.btn-custom-color {
  background: linear-gradient(to right, #64A6F8 20%, #00CDAA 70%);
  /* Custom button color */
  color: white;
  /* White text color for button */
  border-radius: 4px;
  /* Rounded corners for button */
  padding: 10px 16px;
  /* Padding for button */
  border: none;
  /* Remove border */
  cursor: pointer;
  /* Pointer cursor on hover */
  transition: background-color 0.3s;
  /* Smooth transition */
}

.btn-custom-color:hover {
  background-color: #0056b3;
  /* Darker blue on hover */
}

.form-group1 {
  margin-top: 10px;
  /* Space above the button */
}

.text-right {
  text-align: right;
  /* Align text to the right */
}

@media (max-width: 768px) {
  .w-auto{
    margin-top: 10px !important;
  }
  .col-md-6 {
    width: 100%;
    /* Full width on smaller screens */
  }
  .news-marquee {   
    height: 5% !important;    
  }
  .card {
    padding: 12px;
    /* Adjust padding for smaller screens */
  }

  .widget-section {
    padding: 0 !important;
    height: unset !important;
    margin: 10px 0 0 0 !important;
    border-radius: 10px !important;
  }

  .bg-gradient-danger {
    height: unset !important;
  }

  .infobox {
    padding: 0 !important;
    margin: 15px auto;
  }

  .infobox-data {
    font-size: unset !important;
    font-weight: unset !important;
    flex-grow: unset !important;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .infobox-data1 {
    font-size: unset !important;
    font-weight: unset !important;
    flex-grow: unset !important;
    width: 100%;
  }

  .text-center {
    text-align: unset !important;
  }

  .mat-typography,
  p {
    margin: 2px 0 0 0 !important;
    display: flex;
    justify-content: space-between;
    font-size:14px ;
  }
  .mat-typography, h5 {
    font: unset !important;
    margin: 0 0 0 0 !important;
    font-size: 15px !important;
    font-weight: unset !important;
  }
  .progress-description{
    padding-top: unset !important;
  }
  .progress-description {
    font-size: 15px !important;
     font-weight: unset !important; 
}
}


@media (min-width: 1200px) {
  .col-xl-3 {
      flex: 0 0 auto;
      width: 25%;
  }
}
.font-weight-normal{
  color: #fff !important;
}

/* Styling the marquee */
.news-marquee {
  background: transparent;
  color: #fff;
  font-weight: bold;
  padding: 10px;
  font-size: 18px;
  border-radius: 10px;
  border: 1px solid #007bff ;
  text-align: center;
  height: 10%;
  display:flex;
  align-items: center;
  width: 100%; 
  margin: 0 auto; 
}

/* Smooth text appearance */
.news-marquee span {
  padding: 0 20px;
  font-weight: 600;
}

.mt-3{
  margin: 0 !important;
}
@media (max-width: 1120px) {
  .saving_section .detail-box {
      padding: 0;
  }
}

@media (max-width: 992px) {
  .user_option {
      justify-content: center;
      margin-left: 0;
      margin-top: 10px;

  }

  .custom_nav-container {
      flex-direction: row;
  }

  .custom_nav-container .navbar-nav {
      align-items: center;
  }

  #navbarSupportedContent .navbar-nav .nav-link {
      margin: 5px 0;
  }

  .slider_section .detail-box {
      padding-left: 0;
  }

  .slider_section .detail-box h1 {
      font-size: 3rem;
  }

  .slider_section .img-box {
      padding: 0;
  }

  .saving_section .row {
      flex-direction: column-reverse;
  }

  .saving_section .detail-box {

      margin-bottom: 30px;
  }

  .client_section .box {
      margin: 15px 25px;
  }

  .client_section .carousel_btn-box {
      display: flex;
      justify-content: center;
      margin-top: 45px;
  }

  .client_section .carousel-control-prev,
  .client_section .carousel-control-next {
      position: unset;
      margin: 0 2.5px;
      width: 45px;
      height: 45px;
  }
}

@media (max-width: 768px) {
  .hero_area {
      padding: 0 25px;
  }

  .slider_section .img-box {
      margin-bottom: 45px;
  }

  .saving_section,
  .gift_section {
      padding-left: 25px;
      padding-right: 25px;
  }

  .gift_section .box {
      padding: 45px 0;
  }

  .gift_section .img-box {
      padding: 0 15px;
      margin-bottom: 45px;
  }

  .info_section .row>div {
      text-align: center;
      display: flex;
      flex-direction: column;
      align-items: center;

  }

  .info_section {
      margin: 0 25px 25px;
  }


}

@media (max-width: 576px) {
  .contact_section {
      padding-left: 25px;
      padding-right: 25px;
  }
}

@media (max-width: 480px) {

  .saving_section .detail-box,
  .gift_section .detail-box {
      padding: 0 5px;
  }
}

@media (max-width: 420px) {}

@media (max-width: 376px) {}

@media (min-width: 1200px) {
  .container {
      max-width: 1170px;
  }
}

.countdown-timer {
  font-size: 14px;
  background: rgba(0, 0, 0, 0.2);
  color: #fff;
  display: inline-block;
  padding: 5px 10px;
  border-radius: 5px;
  margin-top: -15px;
}

.countdown-label {
  font-size: 12px;
  margin-top: 2px;
  color: #f8d7da;
}

.table-responsive {
  max-height: 240px; 
  overflow-y: auto;
}
