<marquee *ngIf="!isAdmin" behavior="scroll" direction="left" class="news-marquee">
  USDTBASKET A Platform to Give A Luxurious Life to Everyone.
</marquee>


<div id="divDashboardContainer" *ngIf="userInfo">
  <div class="row">

    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/01.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Total Deposit</h5>
              <div class="text-center">
                <span class="progress-description">{{paymentToken}}{{
                  userInfo?.totalDeposit }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="userInfo" class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/11.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Total Income</h5>
              <h2 class="mb-0">
                <span class="progress-description">{{paymentToken}}{{
                  userInfo?.totalIncome }} </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/01.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Total Referral</h5>
              <div class="text-center">
                <span class="progress-description">{{
                  userInfo?.totalDirects }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/02.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Total Team</h5>
              <div class="text-center">
                <span class="progress-description">{{
                  userInfo?.totalTeam }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/07.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Referral Income</h5>
              <h2 class="mb-0">
                <span class="progress-description">{{paymentToken}}{{
                  userInfo?.totalDirectIncome }} </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/04.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Level Income</h5>
              <div class="text-center">
                <span class="progress-description"> {{paymentToken}}{{userInfo?.totalLevelIncome }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/050.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Referral Upgrade Income </h5>
              <div class="text-center">
                <span class="progress-description">
                  {{paymentToken}}{{ userInfo?.totalReferal }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/05.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Rank Upgrade Income </h5>
              <div class="text-center">
                <span class="progress-description">
                  {{paymentToken}}{{ userInfo?.totalPoolIncome }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="userInfo" class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/06.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Royalty Income</h5>
              <h2 class="mb-0">
                <span class="progress-description">{{paymentToken}}{{
                  userInfo?.totalroyaltyIncome }} </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>



    <!-- 
    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/04.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Club Income</h5>
              <div class="text-center">
                <span class="progress-description"> {{paymentToken}}{{userInfo?.totalClubIncome }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/060.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Rank</h5>
              <div class="text-center">
                <span class="progress-description">
                  {{ userInfo?.packageValue }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div *ngIf="userInfo" class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/08.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Royalty Rank</h5>
              <h2 class="mb-0">
                <span class="progress-description"> {{
                  userInfo?.royaltyRank }} </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>


    <div *ngIf="userInfo" class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/10.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal"> Royalty Fund</h5>
              <h2 class="mb-0">
                <span class="progress-description">{{paymentToken}}{{
                  userInfo?.weektotalroyalty }} </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div>


        <div class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/04.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Upgrade Wallet </h5>
              <div class="text-center">
                <span class="progress-description"> {{paymentToken}}{{userInfo?.walletBalanceMatrix }} </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- <div *ngIf="userInfo" class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/13.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Total withdrawal</h5>
              <h2 class="mb-0">
                <span class="progress-description">{{paymentToken}}{{
                  userInfo?.amountWithdrawn }} </span>
              </h2>
            </div>
          </div>
        </div>
      </div>
    </div> -->

    <!-- <div *ngIf="userInfo" class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/14.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Deposit</h5>
              <div class="text-center">
                <span class="progress-description">
                  {{ userInfo?.packageValue }} {{paymentToken}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->


    <!-- <div *ngIf="userInfo" class="col-xl-3 col-md-4">
      <div class="widget-section">
        <div class="widget-card bg-gradient-danger text-white text-center shadow card-shadow-danger">
          <div class="infobox card-body">
            <div class="infobox-icon">
              <img src="assets/15.png" />
            </div>
            <div class="infobox-data">
              <h5 class="font-weight-normal">Wallet Balance</h5>
              <div class="text-center">
                <span class="progress-description">
                  {{ userInfo?.walletBalance }} {{paymentToken}}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div> -->


  </div>
</div>


<div *ngIf="!isAdmin" class="w-auto">
  <div class="row">
    <div class="col-sm-6">
      <div class="card border-radius-8 p-2 shadow">
        <h5 class="font-weight-normal">Referral Link</h5>
        <label id="lblReferralLink" class="form-control font-size-12 overflow-auto">
          {{ website }}/auth/register/{{ userAddress }}
        </label>
        <div class="form-group1 row">

          <div class="col-md-6 col-6 text-right">
            <button onclick="CopyToClipboard('lblReferralLink'); return false;" mat-raised-button
              class="btn-custom-color left">Copy</button>
          </div>
        </div>
      </div>
    </div>

    <div class="col-sm-6 ">
      <div class="card border-radius-8 p-2 shadow">
        <h5 class="font-weight-normal">Sponsor Address</h5>
        <label id="sponsorUserId" class="form-control font-size-12 overflow-auto">
          {{ userInfo?.sponsorUserId }}
        </label>
        <div class="form-group1 row">

          <div class="col-md-6 col-6 text-right">
            <button style="color: black !important;" onclick="CopyToClipboard('sponsorUserId'); return false;"
              mat-raised-button class="btn-custom-color left">Copy</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>