<form #buyForm="ngForm">
  <!-- Amount Input -->
  <div class="form-group">
    <div class="col-md-12">
      <mat-form-field appearance="fill" class="font-size-16">
        <mat-label> Amount</mat-label>
        <input matInput id="txtAmount" name="Amount" [(ngModel)]="Amount" required #txtAmount="ngModel" type="number"
          class="width-100" readonly />
      </mat-form-field>
      <app-validation-message [control]="txtAmount"></app-validation-message>
    </div>
  </div>


  <!-- Package Selection -->
  <div class="form-group">
    <div class="col-md-12">
      <mat-form-field appearance="fill" class="width-100">
        <mat-label>Select Package</mat-label>
        <mat-select [(ngModel)]="selectedPackage" name="selectedPackage" (selectionChange)="onPackageChange()">
          <mat-option *ngFor="let pack of packages" [value]="pack">
            {{ pack.poolName }} <!-- ✅ Updated to show poolName -->
          </mat-option>
        </mat-select>
      </mat-form-field>
    </div>
  </div>

  <!-- Re-Invest Button -->
  <div class="form-group">
    <div class="col-md-12 text-center">
      <button mat-raised-button color="primary" class="btn btn-info" (click)="buy()"
        [disabled]="buyForm.invalid || !selectedPackage">
        Re-invest
      </button>
    </div>
  </div>
</form>