mat-sidenav {
  height: auto;
  width: 270px;
  padding: 16px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  background: linear-gradient(180deg,#4e585f 0,#9b59b6 50%,#e7b4c6 100%);
  color: #fff;
  backdrop-filter: blur(10px);
}

mat-nav-list mat-list-item {
  color: #fff !important;
}

mat-sidenav-content {
  padding: 5px !important;
  /* background-color: #fff */
}

.mat-mdc-button:not(:disabled) {
  color: #fff;
  margin: 10px 0 0;
}

mat-nav-list {
  padding: 0;
}

mat-list-item {
  display: flex;
  align-items: center;
  padding: 10px 16px;
  color: #fff;
  transition: background-color 0.2s;
  border-radius: 4px;
}

mat-list-item:hover {
  background-color: #444;
}

.close-button {
  background-color: #dc3545;
  padding: 10px 15px;
}

.close-button:hover {
  background-color: #c82333;
}

.close-button,
.toggle-button {
  color: #fff;
  border: 0;
  border-radius: 4px;
  cursor: pointer;
  transition: background-color 0.3s;
}

@media (max-width: 600px) {
  mat-sidenav {
    width: 75%;
    position: fixed;
    top: 0;
    left: 0;
    height: auto;
    z-index: 1000;
    transition: transform 0.3s ease;
    backdrop-filter: blur(10px);
  }

  mat-sidenav[opened] {
    transform: translateX(0);
  }

  mat-sidenav,
  mat-sidenav[closed] {
    transform: translateX(-100%);
  }

  mat-sidenav,
  mat-sidenav-content {
    padding: 10px;
  }

  mat-list-item {
    justify-content: center;
  }
}

mat-expansion-panel {
  margin-bottom: 10px;
  background: #fff !important;
  border-radius: 4px;
  color: #fff !important;
}

button.mat-icon-button {
  color: #fff;
  border-radius: 50%;
  margin: 8px;
}

.footer-navbar .footer-icon mat-icon,
.mat-icon,
.small-icon {
  font-size: 24px;
}

span {
  color: #ffffff !important;
}

.small-icon {
  border-radius: 3px;
  color: #9e9e9e !important;
}

.mat-list-item {
  transition: background-color 0.2s ease-in-out;
}

.mat-list-item:hover {
  background-color: #444;
}

.mat-expansion-panel {
  box-shadow: unset !important;
  color: #daa520;
}

.sidenav-container {
  height: auto;
}

.sidenav {
  width: 260px;
}

.close-button,
.toggle-button {
  margin: 20px 0;
  display: block;
  width: calc(100% - 40px);
}

.mat-mdc-list-item-unscoped-content.mdc-list-item__primary-text {
  font-size: 13px;
}

::ng-deep mat-list-item {
  font-size: 13px;
}

mat-expansion-panel-header,
mat-list-item {
  font-size: 11px;
  font-weight: 400;
}

.top-corner-icon {
  position: absolute;
  font-size: 32px;
  color: #daa520;
  cursor: pointer;
  transition: color 0.3s;
}

.space-buttton {
  margin-bottom: 3.5% !important;
}

@media (min-width: 601px) {
  #mobile {
    display: none;
  }

  .closetop {
    display: none !important;
  }
}

@media (max-width: 786px) {
  .space-buttton {
    margin-bottom: 12% !important;
  }
}

@media (max-width: 767px) {
  #biggerr {
    display: block;
  }
}

.mat-sidenav-content {
  transition: margin 0.3s ease;
}

@media (max-width: 768px) {
  .mat-sidenav-content {
    margin-left: 0 !important;
    margin-top: 65px !important;
  }

  img {
    width: 20%;
  }
}

.newss {
  display: flex;
  align-items: center;
}

@media (min-width: 768px) {
  .closetop {
    display: none;
  }
}

@media (min-width: 1200px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm,
  .container-xl {
    max-width: 100% !important;
  }
}

img {
  width: 70px;
}

.navbar {
  border-radius: 0;
  height: 68px;
  background: linear-gradient(90deg,#4e585f 15%,#9b59b6 50%,#e7b4c6 100%);
 border-bottom:1px solid #007bff !important;
}

body,
html {
  height: 200vh;
  margin: 0;
}

.content,
.sidenav-container {
  display: flex;
  flex-direction: column;
}

.sidenav-container {
  height: 130vh;
}

.content {
  flex: 1;
}

.custom-footer {
  height: 64px;
  background: linear-gradient(90deg,#e7b4c6 0,#9b59b6 50%,#4e585f 100%);
  display: flex;
  align-items: center;
  padding: 0 16px;
  color: #fff;
  flex-wrap: wrap;
}

.spacer {
  flex: 1;
}

@media (max-width: 768px) {
  .custom-footer {
    justify-content: space-between;
    padding: 0 8px;
  }

  .sidenav-container {
    display: flex;
    flex-direction: column;
    height: auto !important;
  }

  .custom-footer a {
    margin-left: 8px;
  }

  .custom-footer .spacer {
    display: none;
  }
}

@media (max-width: 480px) {
  .custom-footer {
    flex-direction: column;
    height: auto;
    align-items: flex-start;
  }

  .custom-footer a {
    margin-left: 0;
    margin-top: 8px;
  }
}

.footer-navbar {
  position: fixed;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-around;
  background: linear-gradient(90deg,#e7b4c6 0,#9b59b6 50%,#4e585f 100%);
  color: #161c2c;
  padding: 10px 0;
  z-index: 1000;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

.footer-navbar .footer-icon {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #000;
  font-size: 12px;
  text-transform: none;
}

.footer-navbar .footer-icon:hover {
  color: #93e9ff;
}

.fixed-navbar {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media (max-width: 600px) {
  .fixed-navbar {
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #fff;
    box-shadow: 0-2px 5px rgba(0, 0, 0, 0.2);
  }

  .fixed-navbar,
  .mat-toolbar-single-row {
    position: fixed;
    z-index: 1000;
  }

  .fixed-navbar .app-title {
    flex: 1;
    display: flex;
    justify-content: center;
  }

  .custom-footer,
  .logout-button,
  .top-corner-icon {
    display: none;
  }

  .navbar-login {
    display: block !important;
  }
}

.navbar-login {
  display: none;
  color: #668ee4 !important;
}

.mat-icon {
  color: #fff;
}

.mat-expansion-panel-header-description,
.mat-expansion-panel-header-title {
  display: flex;
  flex-grow: 1;
  flex-basis: 0;
  margin-right: 16px;
  align-items: center;
}

@media (min-width: 600px) {
  .menu-button {
    display: none;
  }
}

@media (max-width: 599px) {
  .exit-icon {
    display: none;
  }
}

.mat-expansion-panel-header {
 background-color: #4f4f70 !important;
  border: 1px solid #9096ee;
  padding: 0 10px !important;
}
.mat-accordion .mat-expansion-panel:first-of-type,.mat-accordion .mat-expansion-panel:not(.mat-expanded),
 .mat-accordion .mat-expansion-panel:not(.mat-expansion-panel-spacing){
  border-radius: 10px;
  /* border: 1px solid #007bff !important; */
}
.footer-text {
  font-size: 18px;
  text-align: center;
  color: #ffffff;
}

.footer-text a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 700;
}

.footer-text a:hover {
  text-decoration: underline;
  color: #ffffff;
}

 .content {
  /* position: relative;
  overflow: hidden; */
  background: #161C2C !important; 
}

/*canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1; 
  pointer-events: none;
} */

#google_translate_element {
  display: inline-block;
  margin-left: 10px;
  margin-top: 5px;
}

.lang {
  display: flex;
  align-items: center;
  justify-content: flex-start;  /* Adjust to align left, center, or right */
}

.goog-te-gadget{
  font-size: 0px !important;
}