<!-- <p>mining-income works!</p> -->

<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card card-box">
      <div class="card-head">
        <header>Profit Bonus</header>
      </div>
      <div class="card-body">
        <div *ngIf="isVisible">
          <div class="form-group row">
            <label class="col-md-3 control-label" for="filterInput"
              >User ID:</label
            >
            <div class="col-md-6">
              <input
                id="filterInput"
                type="text"
                class="form-control"
                [(ngModel)]="filterUserId"
                placeholder="Enter User ID"
              />
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 control-label">From Date</label>
          <div class="col-md-6">
            <input
              type="date"
              [(ngModel)]="startDate"
              (change)="onFilterChange()"
              class="form-control"
            />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 control-label">To Date</label>
          <div class="col-md-6">
            <input
              type="date"
              [(ngModel)]="endDate"
              (change)="onFilterChange()"
              class="form-control"
            />
          </div>
        </div>

        <div class="form-group row mb-3">
          <!-- 'mb-3' is roughly 1rem or 16px -->
          <label class="col-md-3 control-label"></label>
          <div class="col-md-6 d-flex justify-content-center mb-3">
            <button class="btn btn-info" (click)="getProfitincome()">
              View Details
            </button>
          </div>

          <div
            class="d-flex justify-content-center"
            *ngIf="filteredDirects.length > 0"
          >
            <div
              class="d-flex justify-content-center mt-3"
              *ngIf="filteredDirects.length > 0"
            >
              <button
                mat-raised-button
                class="primary"
                (click)="OnPreviousClick(); getProfitincome()"
              >
                Prev
              </button>
              <button
                mat-raised-button
                class="primary"
                (click)="OnNextClick(); getProfitincome()"
              >
                Next
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive mt-3">
          <ng-container *ngIf="filteredDirects.length > 0">
            <table class="table table-bordered table-striped panel">
              <thead>
                <tr>
                  <th >S.N</th>
                  <th >Date</th>
                  <th >User ID</th>
                  <th >Name</th>
                  <th >From UserId</th>
                  <th >Member Count</th>
                  <th >Income</th>
                  <th *ngIf="isColumnVisible('tds')">TDS</th>
                  <th *ngIf="isColumnVisible('service')">Service</th>
                  <!-- <th *ngIf="isColumnVisible('netIncome')">Net Income</th> -->
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let mine of filteredDirects; let i = index">
                  <td >{{ mine.srno }}</td>
                  <td>{{ mine.onDate | date:'MMM dd, yyyy' }}</td>
                  <td >{{ mine.userId }}</td>
                  <td >{{ mine.memberFirstName }}</td>
                  <td >{{ mine.fromUserId }}</td>
                  <td >{{ mine.memberCount }}</td>
                  <td >{{ mine.income }}</td>
                  <td *ngIf="isColumnVisible('tds')">{{ mine.tds }}</td>
                  <td *ngIf="isColumnVisible('service')">{{ mine.service }}</td>
                  <!-- <td *ngIf="isColumnVisible('netIncome')">{{ mine.netIncome }}</td> -->
                </tr>
              </tbody>
            </table>
          </ng-container>
        
          <!-- Display all messages from API -->
          <div *ngFor="let message of apiMessages">
            <div class="text-center" *ngIf="message">
              <label>{{ message }}</label>
            </div>
          </div>
        </div>
        
      </div>
    </div>
  </div>
</div>
