<div>
  <table border="1" cellpadding="10" cellspacing="0" style="border-collapse: collapse; width: 400px">
    <tbody>
      <tr>
        <th class="table-border">Total Joining</th>
        <td class="table-border">{{ AdminInfo.totalJoining }}</td>
      </tr>
      <tr>
        <th class="table-border">Today's Joining</th>
        <td class="table-border">{{ AdminInfo.todayTotalJoining }}</td>
      </tr>
      <tr>
        <th class="table-border">Today's Income</th>
        <td class="table-border">
          {{ AdminInfo.todayIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Total Income</th>
        <td class="table-border">
          {{ AdminInfo.totalIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Today's ROI Income</th>
        <td class="table-border">
          {{ AdminInfo.todayROIIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Total ROI Income</th>
        <td class="table-border">
          {{ AdminInfo.totalROIIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Today's Level ROI Income</th>
        <td class="table-border">
          {{ AdminInfo.todayLevelROIIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Total Level ROI Income</th>
        <td class="table-border">
          {{ AdminInfo.totalLevelROIIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Today's Direct Income</th>
        <td class="table-border">
          {{ AdminInfo.todayDirectIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Total Direct Income</th>
        <td class="table-border">
          {{ AdminInfo.totalDirectIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Today's Level Income</th>
        <td class="table-border">
          {{ AdminInfo.todayLevelIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Total Level Income</th>
        <td class="table-border">
          {{ AdminInfo.totalLevelIncome }} {{paymentToken}}
        </td>
      </tr>
      <tr>
        <th class="table-border">Total Investment</th>
        <td class="table-border">
          {{ AdminInfo.totalInvestment }} {{paymentToken}}
        </td>
      </tr>
    </tbody>
  </table>
</div>