<div class="row justify-content-center">
  <div class="col-md-8">
    <div class="card shadow-lg">
      <div class="card-header text-white">
        <h4>Credit And Debit</h4>
      </div>
      <div class="card-body">
        <!-- Credit/Debit Form -->
        <form (ngSubmit)="processTransaction()" class="mt-4" #transactionForm="ngForm">
          <!-- User ID Input -->
          <div class="form-group row">
            <label for="userId" class="col-md-3 control-label">User ID:</label>
            <div class="col-md-6">
              <input type="text" id="userId" [(ngModel)]="userId" (change)="onWalletTypeChange()"  name="userId"
                class="form-control" required #userIdInput="ngModel" />
                <div *ngIf="errorMessage" class="text-danger small">
                  {{ errorMessage }}
                </div>
                <div *ngIf="successMessage" class="text-success small">
                  {{ successMessage }}
                </div>
            </div>
          </div>

          <!-- Transaction Type -->
          <div class="form-group row">
            <label for="transactionType" class="col-md-3 control-label">Transaction Type:</label>
            <div class="col-md-6">
              <select id="transactionType" [(ngModel)]="transactionType" name="transactionType" class="form-control"
                required #transactionTypeInput="ngModel">
                <option value="">Select Transaction Type</option>
                <option value="credit">Credit</option>
                <option value="debit">Debit</option>
              </select>
              <div *ngIf="
                  transactionTypeInput.invalid && transactionTypeInput.touched
                " class="text-danger small">
                Please select a transaction type.
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label for="WalletType" class="col-md-3 control-label">WalletType:</label>
            <div class="col-md-6">
              <select id="WalletType" name="transactionType" class="form-control" (change)="onWalletTypeChange()"
                [(ngModel)]="walletType" required #WalletTypeInput="ngModel">
                <option value="">Select Wallet Type</option>
                <option value="1">Income Wallet</option>
                <!-- <option value="2">USDT Wallet</option> -->
              </select>
              <div *ngIf="WalletTypeInput.invalid && WalletTypeInput.touched" class="text-danger small">
                Please select a Wallet type.
              </div>
            </div>
          </div>


          <!-- Amount Input -->
          <div class="form-group row">
            <label for="amount" class="col-md-3 control-label">Amount:</label>
            <div class="col-md-6">
              <input type="number" id="amount" [(ngModel)]="amount" name="amount" class="form-control" required min="1"
                #amountInput="ngModel" />
              <div *ngIf="amountInput.invalid && amountInput.touched" class="text-danger small">
                Enter Amount
              </div>
            </div>
          </div>

          <div class="form-group row">
            <label class="col-md-3 control-label" for="balance">Available Balance</label>
            <div class="col-md-6">
              <input type="text" id="balance" class="form-control" name="balance"
                [value]="paymentToken + ' ' + mainWalletBal" readonly />
            </div>
          </div>
          <!-- Remarks Input -->
          <div class="form-group row">
            <label for="remarks" class="col-md-3 control-label">Remarks:</label>
            <div class="col-md-6">
              <textarea id="remarks" [(ngModel)]="remarks" name="remarks" class="form-control" rows="3"
                placeholder="Enter remarks for the transaction" #remarksInput="ngModel"></textarea>
            </div>
          </div>
        </form>

        <!-- Transaction History Button -->
        <div class=" gap-2 d-flex justify-content-center">
          <button type="submit" class="btn btn-primary" (click)="processTransaction()"
            [disabled]="transactionForm.invalid">
            Submit
          </button>
          <button class="btn btn-primary" (click)="viewTransactions()">
            View Transactions
          </button>
        </div>

        <!-- Transaction History Table -->
        <div *ngIf="transactions.length > 0" class="table-responsive mt-4">
          <table class="table table-striped table-bordered">
            <thead class="thead-dark">
              <tr>
                <th>Sr.No</th>
                <th>User Id</th>
                <th>Date</th>
                <th>Type</th>
                <th>Amount</th>
                <th>Remarks</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let transaction of transactions; let i = index">
                <td>{{ transaction.srno }}</td>
                <td>{{ transaction.userId }}</td>
                <td>{{ transaction.ondate }}</td>
                <td>{{ transaction.type | titlecase }}</td>
                <td>{{ transaction.amount | currency: "INR" }}</td>
                <td>{{ transaction.transactionRemarks }}</td>
              </tr>
            </tbody>
          </table>
        </div>
        <br />

        <!-- No Transactions Message -->
        <div *ngIf="transactions.length === 0 && transactionsFetched" class="text-center mt-3">
          <p style="color: white !important" class="text-muted">
            {{ responseMessage }}
          </p>
        </div>
      </div>
    </div>
  </div>
</div>