<div class="footer">
  <div class="footer-main footer-main-hidden-one">
    <div class="footer-col">
      <div class="footer-col-acc">
        <div class="col-acc-head"><b>Get to Know Us</b></div>
        <br />
        <span>
          <a href="#">About Us</a><br />
          <a href="#">Careers</a><br />
          <a href="#">Press Releases</a><br />
        </span>
      </div>
      <div class="footer-col-accs"></div>
      <div class="footer-col-acc">
        <div class="col-acc-head"><b>Connect Us</b></div>
        <br />
        <span>
          <a href="#">Instagram</a><br />
          <a href="#">Facebook</a><br />
          <a href="#">Tlogo5ter</a>
        </span>
      </div>
      <div class="footer-col-accs"></div>
      <div class="footer-col-acc">
        <div class="col-acc-head"><b>Let Us Help You</b></div>
        <br />
        <span>
          <a href="#">Returns Centre</a><br />
          <a href="#">100% Purchase Protection</a><br />
          <a href="#">Help</a>
        </span>
      </div>
    </div>
    <hr class="line" />
    <div class="photo-lag">
      <span>
        <img src="assets/images/wit.png" alt="WIT" />
      </span>
    </div>
  </div>
</div>
