<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card card-box">
      <div class="card-head">
        <header>Profit Level Bonus </header>
      </div>
      <div class="card-body">
        <div *ngIf="isVisible">
          <div class="form-group row">
            <label class="col-md-3 control-label" for="filterInput">User ID:</label>
            <div class="col-md-6">
              <input id="filterInput" type="text" class="form-control" [(ngModel)]="filterUserId"
                placeholder="Enter User ID" />
            </div>
          </div>
        </div>

        <div class="form-group row">
          <label class="col-md-3 control-label">From Date</label>
          <div class="col-md-6">
            <input type="date" [(ngModel)]="startDate" class="form-control" />
          </div>
        </div>
        <div class="form-group row">
          <label class="col-md-3 control-label">To Date</label>
          <div class="col-md-6">
            <input type="date" [(ngModel)]="endDate" class="form-control" />
          </div>
        </div>

        <div class="form-group row mb-3">
          <!-- 'mb-3' is roughly 1rem or 16px -->
          <label class="col-md-3 control-label"></label>
          <div class="col-md-6 d-flex justify-content-center mb-3">
            <button class="btn btn-info" (click)="getLevelROIIncome()">
              View Details
            </button>
          </div>

          <div class="d-flex justify-content-center" *ngIf="filteredDirects.length > 0">
            <div class="d-flex justify-content-center mt-3" *ngIf="filteredDirects.length > 0">
              <button mat-raised-button class="primary" (click)="OnPreviousClick(); getLevelROIIncome()">
                Prev
              </button>
              <button mat-raised-button class="primary" (click)="OnNextClick(); getLevelROIIncome()">
                Next
              </button>
            </div>
          </div>
        </div>

        <div class="table-responsive mt-3">
          @if (filteredDirects.length > 0) {
          <table class="table table-bordered table-striped panel">
            <thead>
              <tr>
                <th *ngIf="isColumnVisible('srno')">S.N</th>
                <th *ngIf="isColumnVisible('date')">Date</th>
                <th *ngIf="isColumnVisible('userID')">User ID</th>
                <th *ngIf="isColumnVisible('name')">Name</th>
                <th *ngIf="isColumnVisible('fromUserID')">From User ID</th>
                <th *ngIf="isColumnVisible('fromUserName')">From Name</th>
                <th *ngIf="isColumnVisible('onAmount')">On Amount</th>
                <th *ngIf="isColumnVisible('percentage')">percentage</th>
                <th *ngIf="isColumnVisible('level')">Level</th>
                <th *ngIf="isColumnVisible('income')">Income</th>
                <th *ngIf="isColumnVisible('tds')">TDS</th>
                <th *ngIf="isColumnVisible('service')">Service</th>
                <!-- <th *ngIf="isColumnVisible('netIncome')">Net Income</th> -->
              </tr>              
            </thead>
            <tbody>
              @for (income of directs; track income) {
                <tr>
                  <td *ngIf="isColumnVisible('srno')">{{ income.srno }}</td>
                  <td *ngIf="isColumnVisible('date')">{{ income.date }}</td>
                  <td *ngIf="isColumnVisible('userID')">{{ income.userID }}</td>
                  <td *ngIf="isColumnVisible('name')">{{ income.name }}</td>
                  <td *ngIf="isColumnVisible('fromUserID')">{{ income.fromUserID }}</td>
                  <td *ngIf="isColumnVisible('fromUserName')">{{ income.fromUserName }}</td>
                  <td *ngIf="isColumnVisible('onAmount')">{{ paymentToken }}{{ income.onAmount }}</td>
                  <td *ngIf="isColumnVisible('percentage')">{{ income.percentage }}%</td>
                  <td *ngIf="isColumnVisible('level')">{{ income.level }}</td>
                  <td *ngIf="isColumnVisible('income')">{{ paymentToken }}{{ income.income }}</td>
                  <td *ngIf="isColumnVisible('tds')">{{ income.tds }}</td>
                  <td *ngIf="isColumnVisible('service')">{{ income.service }}</td>
                  <!-- <td *ngIf="isColumnVisible('netIncome')">{{ income.netIncome }}</td> -->
                </tr>
                
              }
            </tbody>
          </table>
          }
          <!-- Display all messages from API -->
          <div *ngFor="let message of apiMessages">
            <div class="alert alert-info" *ngIf="message">
              <label>{{ message }}</label>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>