<div class="row">
  <div class="col-md-10 offset-md-1">
    <div class="card card-box">
      <div class="card-head">
        <header>Royalty Income</header>
      </div>
      <div class="card-body">
        <div class="table-responsive">
          @if (VIPIncome.length > 0) {
            <table class="table table-bordered table-hover panel">
              <thead>
                <tr>
                  <th>S.N</th>
                  <th>User ID</th>
                  <th>Income</th>
                  <th>Date</th>
                  <th>Amount</th>
                  <th>Rank</th>
                </tr>
              </thead>
              <tbody>
                @for (vipRank of VIPIncome; track vipRank) {
                  <tr>
                    <td>{{ vipRank.srno }}</td>
                    <td>{{ vipRank.userId }}</td>
                    <td>{{ vipRank.income }}</td>
                    <td>{{ vipRank.ondate }}</td>
                    <td>{{ vipRank.onAmount }}</td>
                    <td>{{ vipRank.rank }}</td>
                  </tr>
                }
              </tbody>
            </table>
          }
          @if (VIPIncome.length == 0) {
            <label>No record found</label>
          }
        </div>
      </div>
    </div>
  </div>
</div>
